doctype html
html
  head
    meta(charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Memory Game
    link(href="css/styles.min.css", rel="stylesheet")
    
  body
    #navbar
      .button#easy  Easy
      .button#medium  Medium
      .button#hard  Hard
      
    #navbar-placeholder
        
    #tile-wrapper
      
      //- - var n = 1;
      //- while n <= 16
      //-   .tile(class='tile'+ n++)
        
        
    script(src="js/jquery-3.2.1.js")
    script(src="js/dev.js")
